body {
  padding: 0;
  margin: 0;
  font-family: "SFUIDisplay-Normal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "SFUIDisplay-Normal";
  src: local("SFUIDisplay"),
    url("../public/Fonts/SFUIDisplay-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: local("SFUIDisplay"),
    url("../public/Fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SFUIDisplay-Light";
  src: local("SFUIDisplay"),
    url("../public/Fonts/SFUIDisplay-Thin.otf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "SFUIDisplay-Medium";
  src: local("SFUIDisplay"),
    url("../public/Fonts/SFUIDisplay-Medium.otf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "SFUIDisplay-Heavy";
  src: local("SFUIDisplay"),
    url("../public/Fonts/SFUIDisplay-Heavy.otf") format("truetype");
  font-weight: bold;
}
